@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.app-layout {
    display: flex;
  }
  
  .sidebar {
    width: 300px;
    background-color: #f0f0f0;
    padding: 20px;
    height: 100vh;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .content {
    padding: 20px;
    flex-grow: 1;
  }  
